@import 'config';
@import 'typography'; // Heeeeyyy, im the typography, and also - luuucy im hooommmee!
@import 'colors'; // just to be like da cool kids

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0px; 
}

body {
  color: $secondary-color ;
  background-color: $light-color;
  font-family: $font-stack;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items:center;
  @import 'dark'; // For dark-mode changes, go to _dark.scss
}

a {
  text-decoration: none;
  color: $secondary-color;
}


header {
  background-color: $primary-color;
  display: flex;
  flex-wrap: wrap;
  position: sticky;
  
  top: 0;
  gap: $grid-gutter;
  max-width: $width-type; // Change for full width or a set width -> in config file
  width: $width-type;
  height: 100px;

  #logo {
    align-items: center;
    justify-content: center;

    img {
      width: 350px;
    }
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    ul {
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      font-weight: bold;
      li {
        a {
          display: block;
          text-align: center;
          text-decoration: none;
          margin: 0 19px;
          font-size: 20px;
          color: $light-color;

          &:hover {
            color: $tertiary-color;
          }
        }
      }
    }
  }
  #social {
    justify-content: center;
    align-items: center;

    .fab {
      margin: 14px 16px;
      color: $light-color;

      &:hover {
        color: $tertiary-color;
      }
    }
  }
}

main {
 // padding:10px;
  display: flex;
  flex-wrap: wrap;
  max-width: $width-type; // Change for full width or a set width -> in config file
  width: $width-type;
  // import pages?
}

section {
  display: flex;
  flex-wrap: wrap;
  gap: $grid-gutter;
  max-width: $width-type; // Change for full width or a set width -> in config file
  width: $width-type;
}

.text-1 {
  margin: 15px 0;
}

#tina {
  height: 100%;

  img {
    object-fit: fill;
  }
}

#about {
  background-color: $secondary-color;
  height: 654px;
}

#read {
  background-color: $secondary-color;
  padding: 20px 80px;
  font-size: 20px;
  align-items: left;
  justify-content: center;
  flex-direction: column;
}

#read-more-btn {
  margin: 20px 20px 0 0;
}

#program {
  background-color: $tertiary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: $full-width;
  height: 653px;
  scroll-padding-top: 200px;
}

table {
  border-collapse: collapse;
  background-color: $tertiary-color;
}

#no-border {
  border-bottom: none;
}

th {
  color: $primary-color;
  text-align: center;
  padding: 10px;
  border-right: 2px solid $primary-color;
  border-bottom: 2px solid $primary-color;
  width: 400px;
}

th:last-child {
  border-right: none;
}

td {
  border-bottom: 1px solid $secondary-color;
  border-right: 2px solid $primary-color;
  border-left: 2px solid $primary-color;
  color: $primary-color;
  text-align: center;
  padding: 10px;
}

#same-author {
  column-span: 3;
}

td:first-child {
  border-left: none;
}

td:last-child {
  border-right: none;
}

// #full-program-btn {
//   margin: 20px 20px 20px 0;
// }

#dates-tickets {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(/img/background.png);
}

#tickets {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  height: 500px;
}

#dates {
  background-color: transparent;
}

.dates-content {
  background-color: transparent;
  ul {
    display: flex;
    list-style-type: none;
    margin: 23px 0;
    padding: 4px 0;
    overflow: hidden;
    font-weight: bold;
    border-radius: 20px;
    background-color: $secondary-color;
    text-align: left;
    li {
      display: block;
      text-align: center;
      text-decoration: none;
      padding: 0 50px;
      font-size: 20px;
      color: $light-color;
    }
  }
}

#dif-color {
  color: $tertiary-color;
}

#buy-tickets {
  flex-direction: column;
  background-color: transparent;
}

#buy-tickets-btn {
  margin: 10px 0 10px 0;
}

// #more-dates-btn {
//   margin: 20px 20px 20px 0;
// }

#photos-background {
  background-color: $tertiary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#photos {
  flex-direction: column;
}

// #more-photos-btn {
//   margin: 20px 20px 20px 0;
// }

#head-text {
  margin: 0 0 30px 0;
}

#newsletter {
  background-color: $secondary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 400px;
}

#newsletter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $tertiary-color;
}

#description {
  background-color: $tertiary-color;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#description-text {
  width: 90%;
}

#subscribe {
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 250px;
}

input[type=text] {
  padding: 12px 18px;
  margin: 9px 0;
  box-sizing: border-box;
  border-radius: 20px;
  outline: none;
  width: 300px;
  border: none;
  text-align: center;
  background-color: $tertiary-color;
}

::placeholder { 
  color: $primary-color;
  opacity: 1;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  font-family: "Montserrat";
}

footer {
  background-color: $primary-color;
  height: 175px;
  width: $full-width;
  display: flex;
  align-items: center;
  justify-content: center;

  #logo {
    background-color: inherit;
    justify-content: center;
  }

  #social {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $primary-color;

    .fab {
      margin: 14px 16px;
      color: $light-color;

      &:hover {
        color: $tertiary-color;
      }
    }
  }

  #social-logos {
    flex-direction: row;
    justify-content: center;
    background-color: $primary-color;
  }
}

img {
  width: 100%;
}


@import 'utilities';
@import 'buttons';
@import 'mobile';


/*
Author: Kristian Wittrup, 2021
*/